
@{
    ViewBag.Title = "NewScore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form method="post" class="form-group">
        <div>
            <label>Student ID</label>
            <input type="text" class="form-control" name="STUID" />
        </div>
        <div style="margin-top:10px">
            <label>Course ID</label>
            <input type="text" class="form-control" name="COURSEID" />
        </div>
        <div style="margin-top:10px">
            <label>Exam 1</label>
            <input type="text" class="form-control" name="EXAM1" />
        </div>
        <div style="margin-top:10px">
            <label>Exam 2</label>
            <input type="text" class="form-control" name="EXAM2" />
        </div>
        <div style="margin-top:10px">
            <label>Exam 3</label>
            <input type="text" class="form-control" name="EXAM3" />
        </div>
        <div style="margin-top:10px">
            <label>Project</label>
            <input type="text" class="form-control" name="PROJECT" />
        </div>
        <div style="margin-top:10px">
            <label>Mean</label>
            <input type="text" class="form-control" name="MEAN" />
        </div>
        <div style="margin-top:10px">
            <label>Status</label>
            <input type="text" class="form-control" name="STATUS" />
        </div>

        <div style="margin-top:10px">
            <button class="btn btn-primary">Add Score</button>
        </div>
    </form>
</div>

