@model StudentScoreMvc.Models.EntityFramework.TBLCOURSES
@{
    ViewBag.Title = "BringCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("UpdateCourse", "Courses", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.COURSENAME)
        @Html.TextBoxFor(m => m.COURSENAME, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.COURSEID)

    <div style="margin-top:15px">
        <button class="btn btn-info">Update</button>
    </div>
}

