
@{
    ViewBag.Title = "NewCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Course Name</label>
        <input type="text" class="form-control" name="COURSENAME" />
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-info">Add Course</button>
    </div>
</form>

